.card {
  position: relative;
  max-width: 160px;
  max-height: 160px;
  & img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
  }
  &--front {
    transform: rotateY(90deg);
    position: absolute;
  }
  & .flipped &--front {
    transform: rotateY(0deg);
  }
  & .flipped &--back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }

  &--back,
  &--front {
    transition: all 0.2s ease-in;
  }
  & .flipped &--front,
  &--back {
    transition-delay: 0.2s;
  }
}
